{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="container">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><img src="../static/images/messi.jpg" /></td>
                <td><img src="../static/images/suarez.jpg" /></td>
                <td><img src="../static/images/ter stegen.jpg" /></td>
            </tr>
            <tr>
                <td><img src="../static/images/busquets.jpg" /></td>
                <td><img src="../static/images/coutinho.jpg" /></td>
                <td><img src="../static/images/rakitic.jpg" /></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}